{% ckan_extends %}

{% block styles %}
    {{ super() }}
    {% resource 'ckanext-datahub/styles/datahub.css' %}
{% endblock %}

{# Add GA into the head of every page #}
{% block head_extras %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MPY2PQG2J4"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-MPY2PQG2J4');
  </script>
{% endblock %}
